/*  your css code here. If applicable */
body{
	width: 1100px;
	color: black;
	background-color: #B4E886;
}
table,td,tr{
	border: 1px solid black;
}
.oddcolumn{
	width: 200px;
	text-align: center;
}
.middlecolumn{
	width: 200px;
}